{% extends "main.html" %}
{% load staticfiles %}

{% block main %}

<section class="page-section" id="contact">
    <div class="container">

        <center><h3>Lista de Estudiantes Registrados</h3></center>

                <div align="left" class="btn_crear mb-3">
                  <a href="insertar" type="button" class="btn btn-info">Registrar Estudiante</a>
                </div>

                <table class="table table-striped table-responsive table-bordered">
                    <thead>
                        <th>TUTOR O RESPONSABLE</th>
                        <th>CODIGO ESTUDIANTE</th>
                        <th>NOMBRES</th>
                        <th>APELLIDOS</th>
                        <th>FECHA DE NACIMIENTO</th>
                        <th>DIRECCION</th>
                        <th>TELEFONO</th>
                        <th>CORREO</th>
                        <th>SEXO</th>
                        <th>FECHA DE INSCRIPCION</th>
                        <th>MENSUALIDAD</th>
                        <th>ACCIONES</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for estudiante in object_list %}
                    <tr>
                        <td>{{ estudiante.tutores_id_tutor }}</td>
                        <td>{{ estudiante.estudiante_codigo }}</td>
                        <td>{{ estudiante.estudiante_nombres }}</td>
                        <td>{{ estudiante.estudiante_apellidos }}</td>
                        <td>{{ estudiante.fecha_nacimiento }}</td>
                        <td>{{ estudiante.direccion }}</td>
                        <td>{{ estudiante.no_celular }}</td>
                        <td>{{ estudiante.email }}</td>
                        <td>{{ estudiante.sexo }}</td>
                        <td>{{ estudiante.fecha_inscripcion }}</td>
                        <td>{{ estudiante.mensualidad }}</td>
                        <td>

                            <form method="POST" action="eliminar/{{estudiante.id}}">

                                {% csrf_token %}

                                <div class="btn-group">
                                    <a href="detalle/{{estudiante.id}}" title="Ver" type="button" class="btn btn-info">Ver </a>
                                    <a href="editar/{{estudiante.id}}" title="Editar" type="button" class="btn btn-success">Editar </a>
                                    <button class="btn btn-danger" onclick="return eliminar();" type="submit">
                                        Eliminar
                                    </button>
                                    <!-- <a href="eliminar/{{postre.id}}" title="Eliminar"><i class="fas fa-trash"></i> </a> -->
                                </div>
                            </form>
                        </td>
                    </tr>
                    {% empty %}
                    <tr><td colspan="8">No hay estudiantes registrados</td></tr>
                    {% endfor %}
                    </tbody>
                </table>
              <div class="col-md-10">

            <div class="table-responsive">

                {% if messages %}
                <ul class="messages list-group mb-3">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <!-- Agregar la tabla en este espacio -->
            </div>

        </div>
    </div>
</section>

{% endblock main %}