{% extends "main.html" %}
{% load staticfiles %}

{% block main %}

<section class="page-section" id="contact">
    <div class="container">

        <center><h3>Lista del personal del centro educativo</h3></center>
        <div align="left" class="btn_crear mb-3">
            <a href="insert_personal" type="button" class="btn btn-info">Nuevo Personal</a>
        </div>

        <table class="table table-striped table-responsive table-bordered">
            <thead>
            <th>CARGO</th>
            <th>NOMBRES</th>
            <th>APELLIDOS</th>
            <th>TELEFONO</th>
            <th>CORREO</th>
            <th>DIRECCION</th>
            <th>FECHA DE INGRESO</th>
            <th>SALARIO</th>
            <th>ACCIONES</th>
            </tr>
            </thead>
            <tbody>
            {% for personal in object_list %}
            <tr>
                <td>{{ personal.cargo }}</td>
                <td>{{ personal.personal_nombres }}</td>
                <td>{{ personal.personal_apellidos }}</td>
                <td>{{ personal.celular }}</td>
                <td>{{ personal.email }}</td>
                <td>{{ personal.direccion }}</td>
                <td>{{ personal.fecha_creacion }}</td>
                <td>{{ personal.salario }}</td>
                <td>

                    <form method="POST" action="eliminar/{{estudiante.id}}">

                        {% csrf_token %}

                        <div class="btn-group">
                            <a href="detalle_personal/{{personal.id}}" title="Ver" type="button" class="btn btn-info">Ver </a>
                            <a href="editar_personal/{{personal.id}}" title="Editar" type="button" class="btn btn-success">Editar </a>
                            <button class="btn btn-danger" onclick="return eliminar();" type="submit">
                                Eliminar
                            </button>
                            <!-- <a href="eliminar/{{postre.id}}" title="Eliminar"><i class="fas fa-trash"></i> </a> -->
                        </div>

                    </form>

                </td>
            </tr>
            {% empty %}
            <tr><td colspan="8">No hay personal registrado</td></tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="col-md-10">

            <div class="table-responsive">

                {% if messages %}
                <ul class="messages list-group mb-3">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <!-- Agregar la tabla en este espacio -->
            </div>

        </div>
    </div>
</section>

{% endblock main %}